[submodule "Plugins/instrument/foc"]
	path = Plugins/instrument/foc
	url = https://github.com/PRL-OCS/foc_plugin.git
[submodule "Plugins/telescope/T2P5"]
	path = Plugins/telescope/T2P5
	url = https://github.com/PRL-OCS/T2P5_Plugin.git
[submodule "Plugins/telescope/T1P2"]
	path = Plugins/telescope/T1P2
	url = https://github.com/PRL-OCS/T1P2_Plugin.git
[submodule "Plugins/instrument/LISA"]
	path = Plugins/instrument/LISA
	url = https://github.com/PRL-OCS/lisa_plugin.git
